{{define "layout"}}
<!doctype html>
<html>
    <head>
	    <meta charset="utf-8">
	    <title>Book Club Buddy</title>
	    <link rel="stylesheet" href="/web/stylesheets/main.css">

        <!-- This adds Bootstrap to the file -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light px-3">
            <span class="navbar-brand" href="#">&#128218; Book Club Buddy</span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Previous Books</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Discord</a>
                </li>
              </ul>
            </div>
          </nav>

	    {{template "body"}}
    </body>
</html>
{{end}}